body {
  width: 900px;
  margin: 0 auto;
  overflow: scroll;
  font-family: sans-serif;
  letter-spacing: 2px;
}

#container {
  position: relative;
}

#rules-container {
  margin-top: 30px;
  float: left;
  width: 300px;
}

#game-container {
  float: right;
  width: 600px;
}
